*.diff
*.patch
*.orig
*.rej

*~
*.a
*.lo
*.o
*.dylib

*.gcda
*.gcno
*.gcov

/example
/example64
/examplesh
/libz.so*
/minigzip
/minigzip64
/minigzipsh
/zlib.pc

.DS_Store
/contrib/masmx64/gvmat64.lst
/contrib/masmx64/gvmat64.obj
/contrib/masmx64/inffasx64.lst
/contrib/masmx64/inffasx64.obj
/contrib/masmx86/match686.obj
/contrib/masmx86/inffas32.lst
/contrib/masmx86/inffas32.obj
/contrib/masmx86/match686.lst
*.suo
*.sdf
*.aps
